@using ActionMailer.Net
@model SSO.SGP.EntidadesDeNegocio.ECO_Proveedores

@{
    Layout = null;
}


<p>
    Estimado/a @Model.RazonSocial
</p>
<p>
    Ha sido CONFIRMADA su inscripción en el Sistema de Compras del Poder Judicial de La Pampa.
    <br />
    En caso de producirse modificaciones en alguno/s de los datos consignados, los mismos deberán ser  cargados inmediatamente al Sistema de Compras del Poder Judicial, ingresando a: <a href="http://compras.justicialapampa.gob.ar/proveedorregistrado">http://compras.justicialapampa.gob.ar/proveedorregistrado</a>.
    <br />
    La presente constancia deberá ser presentada con su oferta en todos los trámites licitatorios en los que participe.
</p>
<p>
    Poder Judicial de la Provincia de La Pampa - Secretaría de Economía y Finanzas
</p>