@using ActionMailer.Net
@model SSO.SGP.EntidadesDeNegocio.ConcursosDeIngresoEvaluaciones

@{
    Layout = null;
}

<p>
    Estimados/as, por medio de la presente les informamos sobre la evaluación online del Módulo 3 correspondiente al concurso <strong>@ViewBag.Concurso.</strong><br />
</p>
<p>
    Los enlaces al material de estudio de cada Módulo, a la Evaluación respectiva y toda información relevante sobre la capacitación, <strong>estarán siempre disponibles</strong> en el sitio oficial del <a href="https://justicia.lapampa.gob.ar/informacion/llamados-a-concursos/771-escribiente-organismos-administrativos-y-jurisdiccionales-de-santa-rosa" target="_blank">Poder Judicial de La Pampa (sección Concursos)</a>
</p>
<p>
    <strong>IMPORTANTE: </strong> 
    <ul>
        <li>
            Se recomienda realizar la evaluación on-line en una PC o notebook con navegador Firefox, Chrome o Explorer (11 o superior).
        </li>
        <li>
            <strong>Mientras no finalice y envíe la evaluación</strong>, podrá ingresar durante el día la veces que desee. Una vez finalizada y enviada ya no podra editarla.
        </li>
        <li>
            <strong>A partir del día posterior a la Evaluación, con el mismo enlace podrá acceder y consultar el resultado.</strong>
        </li>
    </ul>
</p>