@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Areas.Administracion.Controllers;
@using SSO.SGP.Web.Controllers;
@using Syncrosoft.Framework.Controles.MVC;
@model SSO.SGP.EntidadesDeNegocio.AdministracionPedidos

@{
    Layout = null;
    var hash = "form" + Session.GetHashCode();
}

@Scripts.Render("~/bundles/jqueryval")
<script src="Areas/Administracion/ts/Solicitudes/IndexRecepcion.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
@using (Html.BeginForm("IndexRecepcion", "Solicitudes", FormMethod.Post, new { id = hash }))
{
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                @{ 			
                    ColumnCommand[] operadoresSolicitudes= new ColumnCommand[3] {

                 new ColumnCommand {
                    display = "recibir",
                    function = "oSolicitudes.recibir_dtSolicitudesRecepcion()",
                    icon = "../assets/img/icons/16x16/edit.png",
                    iconclass = "edit",
                    tooltip = "Recibir este pedido"
                 },
                 new ColumnCommand {
                    display = "rechazar",
                    function = "oSolicitudes.rechazar_dtSolicitudesRecepcion()",
                    icon = "../assets/img/icons/16x16/delete.png",
                    iconclass = "delete",
                    tooltip = "Rechazar este pedido"
                 },
                 new ColumnCommand {
                    display = "Otras opciones...",
                    function = "oSolicitudes.rechazar_dtSolicitudesRecepcion()",
                    icon = "../assets/img/icons/16x16/delete.png",
                    tooltip = "Otras opciones..."
                 }
                };

                    var vmSolicitudesRecepcion = Html.DataTableVm("dtSolicitudesRecepcion", (SolicitudesController h) => h.getAdministracionRecepcionPedidosGrilla(null));

                    vmSolicitudesRecepcion.operators = operadoresSolicitudes;
                    vmSolicitudesRecepcion.OpcionesEnGrilla = false;
                    //vmAgentes.fnDrawCallBack = "render_dtAgentes(this);";
                    vmSolicitudesRecepcion.ColumnFilter = true;
                    //vmAgentes.FilterOn("activo").Select("Si", "No");
                    //Cantidad de registros a mostrar
                    vmSolicitudesRecepcion.CantidadRegistrosDefault = 25;

                }
                @Html.Partial("~/Views/Shared/DataTable.cshtml", vmSolicitudesRecepcion)

                <input type="hidden" id="SelectedSolicitudes@(hash)" value="" />
            </div>
            <!--fin de div md-12-->
        </div>
        <!--fin de row -->
    </div> <!--fin de container-fluid-->
}

<script type="text/javascript">

    if (oSolicitudes == null)
        var oSolicitudes = new Solicitudes.ts.SolicitudesManager();

    var viewIndexRecepcion = new Solicitudes.ts.IndexRecepcion("@(hash)");
    oSolicitudes.setIndexRecepcion(viewIndexRecepcion);

    viewIndexRecepcion.setSolicitudes(dtSolicitudesRecepcion);

</script>
