<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SSO.SGP.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <sectionGroup name="crystalQuartz" type="CrystalQuartz.Web.Configuration.CrystalQuartzConfigurationGroup">
			<section name="provider" type="CrystalQuartz.Web.Configuration.ProviderSectionHandler" requirePermission="false" allowDefinition="Everywhere" />
		</sectionGroup></configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=SyncroGen;User Id=sa;Password=merlin" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=SQLSERVER-03-SR.juslapampa.gob.ar\SQL2014_DESA;Initial Catalog=cpp_prod;User Id=desarrollo;Password=Wint3r1sC0ming" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=10.22.51.32\sql2014_desa;Initial Catalog=cpp_desa;User Id=desarrollo;Password=Wint3r1sC0ming" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NombreProyecto" value="NombreProy" />
    <add key="LogFilePath" value="/Logs" />
    <add key="owin:appStartup" value="SSO.SGP.Web.Startup" />
    <!--<add key="rs.user" value="Reportes"/>
    <add key="rs.password" value="reportes"/>
    <add key="rs.url" value="http://127.0.0.1/ReportServer"/>
    <add key="rs.url_Publica" value="http://200.5.102.142/ReportServer_SQL2008"/>
    <add key="rs.folder" value="/SGP_Desa.Reportes"/>-->
    <add key="rs.user" value="Administrador" />
    <add key="rs.password" value="Merlin1814" />
    <add key="rs.url" value="http://10.22.231.119/ReportServer_SQL2012" />
    <add key="rs.url_Publica" value="http://200.5.102.142/ReportServer_SQL2008" />
    <add key="rs.folder" value="/CPP_Test.Reportes" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="500000" />
    <add key="Trello.Board.Incidencias" value="gYqEZ4ZY" />
    <add key="Nucleo.WebServices.BuscarPersona" value="https://demo3.lapampa.gov.ar/NucleoDemoNSL/servlet/awsconsultapersonan" />
    <add key="Nucleo.WebServices.Usuario" value="NucleoJusticia" />
    <add key="Nucleo.WebServices.Clave" value="Jus1814" />
    <add key="Inscripciones.URL" value="http://localhost:50934" />
    <add key="Email.Administracion.Licencias" value="otero.javier@gmail.com" />
    <add key="Email.Procuracion.Licencias" value="otero.javier@gmail.com" />
    <add key="Email.Jurisdiccionales.Licencias" value="otero.javier@gmail.com" />
    <add key="Email.Remuneraciones.Licencias" value="otero.javier@gmail.com" />
    <add key="Email.Reconocimiento.Licencias" value="otero.javier@gmail.com" />
    <add key="Email.RRHH.Licencias" value="descuredo@juslapampa.gob.ar" />
    <add key="Url.Base" value="http://localhost:55555" />
    <add key="RutaArchivos.path" value="Z:\\Compras\"/>
    <add key="RutaArchivosLocal.path" value="\Documentos\"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <phpNet>
    <classLibrary>
      <add assembly="PhpNetClassLibrary, Version=4.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
      <add assembly="PhpNetMbstring, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />
      <add assembly="PhpNetGd2, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />
    </classLibrary>
  </phpNet>
  <system.web>
    <globalization culture="es-AR" uiCulture="es-AR" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Syncrosoft.Framework.Controles.MVC" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /><add name="CrystalQuartzPanel" verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" /></handlers>
  </system.webServer>
  <runtime>
    <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatepath="Phalanger" />
    </assemblybinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
    <system.net>
      <!--Configuración para envío de mails en desarrollo, los mails se envían a una carpeta en el disco duro-->
      <!--<mailSettings>
        <smtp from="notificaciones.rrhh@gmail.com" deliveryMethod="Network">
          <network host="smtp.googlemail.com" port="587" enableSsl="true" userName="notificaciones.rrhh@gmail.com" password="Merlin1814" />
        </smtp>
      </mailSettings>-->
      <mailSettings>
        <!--<smtp from="ingresosrrhhpjlp@juslapampa.gob.ar" deliveryMethod="Network" >
          <network host="mail.juslapampa.gob.ar" defaultCredentials="false" port="25" enableSsl="false" userName="ingresosrrhhpjlp@juslapampa.gob.ar" password="rrhh1890LP" />
        </smtp>-->
        <!--<smtp from="turnos@juslapampa.gob.ar" deliveryMethod="Network">
          <network host="mail.juslapampa.gob.ar" defaultCredentials="false" port="25" enableSsl="false" userName="turnos@juslapampa.gob.ar" password="syo1890LP" />
        </smtp>-->
        <smtp from="avisos@juslapampa.gob.ar" deliveryMethod="Network">
          <network host="mail.juslapampa.gob.ar" defaultCredentials="false" port="25" enableSsl="false" userName="avisos@juslapampa.gob.ar" password="syo1890LP" />
        </smtp>
      </mailSettings>

      <!--Configuración para envío de mails en producción, los mails se envían de forma tradicional mediante smtp-->
      <!--<mailSettings>
        <smtp deliveryMethod="Network">
          <network host="smtp.mysite.com" userName="myuser" password="mypassword" />
        </smtp>
      </mailSettings>-->
    </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSConsultaPersonaNSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://demo3.lapampa.gov.ar/NucleoDemoNSL/servlet/awsconsultapersonan" binding="basicHttpBinding" bindingConfiguration="WSConsultaPersonaNSoapBinding" contract="Webservices.Cesida.Testing.WSConsultaPersonaNSoapPort" name="WSConsultaPersonaNSoapPort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SSO.SGP.Web.Properties.Settings>
      <setting name="SSO_SGP_Web_Nucleo_Demo_WSConsultaPersonaN" serializeAs="String">
        <value>http://demo3.lapampa.gov.ar/NucleoDemoNSL/servlet/awsconsultapersonan</value>
      </setting>
    </SSO.SGP.Web.Properties.Settings>
  </applicationSettings>
<crystalQuartz>
    <provider>
      <add property="Type" value="CrystalQuartz.Core.SchedulerProviders.RemoteSchedulerProvider, CrystalQuartz.Core" />
      <!-- Edit scheduler host value below =================================== -->
      <add property="SchedulerHost" value="tcp://localhost:555/QuartzScheduler" />
      <!--                                 =================================== -->
    <add property="Type" value="SSO.SGP.Web.SimpleSchedulerProvider, SSO.SGP.Web" /></provider>
	</crystalQuartz></configuration>