@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Controllers;
@using SSO.SGP.Web.Areas.RRHH.Controllers;
@using Syncrosoft.Framework.Controles.MVC;
@model SSO.SGP.EntidadesDeNegocio.Agentes

@{
    Layout = null;
    var hash = "form" + Session.GetHashCode();
}

@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("Crear", "Agentes", FormMethod.Post, new { area = "Suministros", id = hash }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="control-group">
                    Desde
                     <div class="controls">
                         <div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                             <input type="text" class="form-control date-picker" name="Desde" id="Desde@(hash)" />
                             <span class="add-on"><i class="icon-calendar"></i></span>
                         </div>
                         <script type="text/javascript">
                             $(function () {
                                 $('#Desde@(hash)').datepicker(pickerOpts);
                            });
                         </script>
                     </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="control-group">
                    Hasta
                     <div class="controls">
                         <div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                             <input type="text" class="form-control date-picker" name="Hasta" id="Hasta@(hash)" />
                             <span class="add-on"><i class="icon-calendar"></i></span>
                         </div>
                         <script type="text/javascript">
                             $(function () {
                                 $('#Hasta@(hash)').datepicker(pickerOpts);
                            });
                         </script>
                     </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="control-group">
                    &nbsp;
		            <div class="controls">
                        <input type="button" class="btn blue" id="Ver@(hash)" value="Ver" name="Ver" />
                    </div>
                </div>

            </div>
        </div>
        <!--fin de div md-12-->
        <div class="row">
            <div class="col-md-12" id="Reporte">
                <iframe id="frame@(hash)" src="" width="100%" height="625" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <!--fin del row-->
}

<script type="text/javascript">

    $(function () {
        $("#Ver@(hash)").click(function (e) {
            //$("#Reporte").load("Reportes/RS/ReportViewer.aspx?r=1&Categoria=" + $("#Categoria@(hash)").val() + "&OrdenPorIngreso=" + (($("#OrdenarPorIngreso").attr("checked") == "checked") ? "true" : "false"));
            $("#frame@(hash)").attr("src", "Reportes/RS/ReportViewer.aspx?r=12&Desde=" + $("#Desde@(hash)").val() + "&Hasta=" + $("#Hasta@(hash)").val());
        });
    });

</script>

