<style xmlns="http://www.w3.org/1999/xhtml">span { white-space: pre-wrap; }
p.pt-Normal {
    line-height: 150.0%;
    margin-bottom: 10pt;
    text-align: center;
    font-family: Calibri;
    font-size: 16pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter {
    font-family: Calibri;
    font-size: 16pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000000 {
    line-height: 150.0%;
    margin-bottom: 10pt;
    text-align: justify;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000001 {
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000002 {
    font-family: Calibri;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000003 {
    font-family: Calibri;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-000004 {
    line-height: 150.0%;
    margin-bottom: 0;
    margin-left: 0.50in;
    text-indent: -0.25in;
    text-align: justify;
    font-family: Symbol;
    font-size: 11pt;
    margin-top: 0;
    margin-right: 0;
}
span.pt-000005 {
    font-family: Symbol;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.250in;
}
p.pt-000006 {
    line-height: 150.0%;
    margin-bottom: 10pt;
    margin-left: 0.50in;
    text-indent: -0.25in;
    text-align: justify;
    font-family: Symbol;
    font-size: 11pt;
    margin-top: 0;
    margin-right: 0;
}
p.pt-Prrafodelista {
    line-height: 150.0%;
    margin-bottom: 0;
    margin-left: 0.50in;
    text-align: justify;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-right: 0;
}
span.pt-000007 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Prrafodelista-000008 {
    line-height: 150.0%;
    margin-bottom: 10pt;
    margin-left: 0.50in;
    text-align: justify;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-right: 0;
}
p.pt-Normal-000009 {
    line-height: 150.0%;
    margin-bottom: 10pt;
    text-indent: 0.49in;
    text-align: justify;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000010 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000011 {
    line-height: 115.0%;
    margin-bottom: 10pt;
    text-align: justify;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
</style>