<style xmlns="http://www.w3.org/1999/xhtml">span { white-space: pre-wrap; }
table.pt-000000 {
    border-collapse: collapse;
    border: none;
    margin-left: 0;
    margin-bottom: .001pt;
}
tr.pt-000001 {
    height: 0.97in;
}
td.pt-000002 {
    vertical-align: top;
    width: 261.4pt;
    border-top: double #760000 2.5pt;
    padding-top: 0;
    border-right: double #760000 2.5pt;
    padding-right: 5.4pt;
    border-bottom: double #760000 2.5pt;
    padding-bottom: 0;
    border-left: double #760000 2.5pt;
    padding-left: 5.4pt;
}
p.pt-Normal {
    margin-bottom: 0;
    text-align: center;
    font-family: Calibri;
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000003 {
    font-family: Calibri;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000004 {
    margin-bottom: 0;
    font-family: Calibri;
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
td.pt-000005 {
    vertical-align: top;
    width: 261.4pt;
    border-top: double #760000 2.5pt;
    padding-top: 0;
    border-right: double #760000 2.5pt;
    padding-right: 5.4pt;
    border-bottom: double #760000 2.5pt;
    padding-bottom: 0;
    border-left: double #760000 2.5pt;
    padding-left: 5.4pt;
    background: white;
}
p.pt-Normal-000006 {
    margin-bottom: 0;
    margin-left: 0.03in;
    margin-right: 0.09in;
    text-align: justify;
    font-family: Century Gothic;
    font-size: 4pt;
    line-height: 108%;
    margin-top: 0;
}
span.pt-000007 {
    font-size: 4pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000008 {
    margin-bottom: 0;
    margin-left: 0.03in;
    margin-right: 0.09in;
    text-align: justify;
    font-family: Century Gothic;
    font-size: 10pt;
    line-height: 108%;
    margin-top: 0;
}
span.pt-Fuentedeprrafopredeter-000009 {
    font-family: Century Gothic;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000010 {
    font-family: Century Gothic;
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000011 {
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000012 {
    margin-bottom: 0;
    margin-left: 0.03in;
    margin-right: 0.09in;
    font-family: Century Gothic;
    font-size: 7pt;
    line-height: 108%;
    margin-top: 0;
}
span.pt-000013 {
    font-size: 7pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000014 {
    margin-bottom: 0;
    text-align: justify;
    font-family: Calibri;
    font-size: 7pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000015 {
    font-family: 'Calibri Light', 'sans-serif';
    font-size: 7pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000016 {
    font-family: 'Calibri Light', 'sans-serif';
    font-size: 7pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000017 {
    color: #000000;
    font-family: 'Calibri Light', 'sans-serif';
    font-size: 7pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000018 {
    font-family: Calibri;
    font-size: 7pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000019 {
    color: #0070C0;
    font-family: Calibri;
    font-size: 7pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
tr.pt-000020 {
    height: 1.13in;
}
p.pt-Normal-000021 {
    margin-bottom: 0;
    font-family: Century Gothic;
    font-size: 5pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000022 {
    font-size: 5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000023 {
    font-size: 5pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000024 {
    margin-bottom: 0;
    font-family: Century Gothic;
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000025 {
    font-family: Century Gothic;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000026 {
    margin-bottom: 0;
    font-family: Century Gothic;
    font-size: 6pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000027 {
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000028 {
    font-family: Century Gothic;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000029 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000030 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
</style>