<style xmlns="http://www.w3.org/1999/xhtml">span { white-space: pre-wrap; }
p.pt-Normal {
    margin-bottom: 10pt;
    text-align: center;
    font-family: Calibri;
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000000 {
    font-family: Calibri;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000001 {
    line-height: 150.0%;
    margin-bottom: 10pt;
    text-align: justify;
    font-family: Calibri;
    font-size: 12pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000002 {
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
div.pt-000003 {
    border-top: solid windowtext 1.0pt;
    padding-top: 1.0pt;
    border-right: solid windowtext 1.0pt;
    padding-right: 4.0pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 1.0pt;
    border-left: solid windowtext 1.0pt;
    padding-left: 4.0pt;
}
p.pt-Normal-000004 {
    margin-bottom: 10pt;
    text-align: center;
    font-family: Calibri;
    font-size: 14pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000005 {
    font-family: Calibri;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000006 {
    font-family: Calibri;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000007 {
    font-family: Calibri;
    font-size: 12pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000008 {
    font-family: Calibri;
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000009 {
    color: #E36C09;
    font-family: Calibri;
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000010 {
    margin-bottom: 10pt;
    margin-left: 2.95in;
    text-indent: 0.49in;
    text-align: center;
    font-family: Calibri;
    font-size: 8pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000011 {
    font-family: Calibri;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000012 {
    margin-bottom: 10pt;
    font-family: Calibri;
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000013 {
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
</style>