<style xmlns="http://www.w3.org/1999/xhtml">span { white-space: pre-wrap; }
p.pt-NormalWeb {
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: right;
    font-family: 'Arial Unicode MS', 'sans-serif';
    font-size: 10pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000000 {
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: Calibri;
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000001 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000002 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 13.5pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000003 {
    font-family: 'Arial', 'sans-serif';
    font-size: 13.5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000004 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: 'Arial', 'sans-serif';
    font-size: 13.5pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000005 {
    font-size: 13.5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000006 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: 'Arial', 'sans-serif';
    font-size: 10.5pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000007 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10.5pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000008 {
    font-size: 10.5pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000009 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-align: center;
    font-family: 'Verdana', 'sans-serif';
    font-size: 10.5pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000010 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 10.5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000011 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: 'Verdana', 'sans-serif';
    font-size: 10.5pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000012 {
    font-size: 10.5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000013 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-align: right;
    font-family: 'Verdana', 'sans-serif';
    font-size: 9pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000014 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000015 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: 'Verdana', 'sans-serif';
    font-size: 9pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000016 {
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000017 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 10pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter-000018 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Textoennegrita {
    font-family: 'Verdana', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-Textoennegrita-000019 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 10pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000020 {
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000021 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-align: justify;
    font-family: 'Tahoma', 'sans-serif';
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
</style>