<style xmlns="http://www.w3.org/1999/xhtml">span { white-space: pre-wrap; }
p.pt-Normal {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: Calibri;
    font-size: 14pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000000 {
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000001 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-indent: 0.49in;
    font-family: Calibri;
    font-size: 24pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-Fuentedeprrafopredeter {
    font-family: Calibri;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.492in;
}
span.pt-Fuentedeprrafopredeter-000002 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000003 {
    margin: 0 0 0 0.49in;
    padding: 0 0 0 0;
}
span.pt-Fuentedeprrafopredeter-000004 {
    font-family: Calibri;
    font-size: 24pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000005 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    font-family: Calibri;
    font-size: 24pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000006 {
    font-size: 24pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000007 {
    line-height: 107.9%;
    margin-bottom: 8pt;
    text-indent: 0.49in;
    font-family: Calibri;
    font-size: 18pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
span.pt-000008 {
    font-size: 18pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000009 {
    font-family: Calibri;
    font-size: 18pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
</style>