<style xmlns="http://www.w3.org/1999/xhtml">span { white-space: pre-wrap; }
h5.pt-Ttulo5 {
    text-align: center;
    font-family: 'Courier New';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-Fuentedeprrafopredeter {
    font-family: 'Courier New';
    font-size: 12pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000000 {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h3.pt-Ttulo3 {
    line-height: 150.0%;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-Fuentedeprrafopredeter-000001 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal {
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-Fuentedeprrafopredeter-000002 {
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000003 {
    margin: 0 0 0 0.49in;
    padding: 0 0 0 0;
}
span.pt-Fuentedeprrafopredeter-000004 {
    font-family: 'Times New Roman', 'serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000005 {
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000006 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
p.pt-Textoindependiente3 {
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-Fuentedeprrafopredeter-000007 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.492in;
}
span.pt-Fuentedeprrafopredeter-000008 {
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000009 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000010 {
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000011 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-Fuentedeprrafopredeter-000012 {
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.492in;
}
table.pt-000013 {
    border-collapse: collapse;
    border: none;
    margin-left: 0;
    margin-bottom: .001pt;
}
td.pt-000014 {
    vertical-align: top;
    width: 91.9pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000015 {
    vertical-align: top;
    width: 49.6pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000016 {
    vertical-align: top;
    width: 85.05pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000017 {
    vertical-align: top;
    width: 42.55pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000018 {
    vertical-align: top;
    width: 35.45pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000019 {
    vertical-align: top;
    width: 63.75pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000020 {
    vertical-align: top;
    width: 52.9pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
td.pt-000021 {
    vertical-align: top;
    width: 60.2pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 5.4pt;
}
p.pt-Textoindependiente {
    line-height: 150.0%;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
p.pt-Textoindependiente2 {
    line-height: 150.0%;
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 10pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
p.pt-Normal-000022 {
    font-family: 'Times New Roman', 'serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000023 {
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
</style>