@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Controllers;	
@using Syncrosoft.Framework.Controles.MVC;
@model SSO.SGP.EntidadesDeNegocio.ActuacionesADM

@{
	Layout = null;
	var hash = "form"+Session.GetHashCode();
}

	
@Scripts.Render("~/bundles/jqueryval")
<script src="ts/ActuacionesADM/Index.js"></script>
<script src="ts/ActuacionesADM/ActuacionesADMManager.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
@using (Html.BeginForm("Index", "ActuacionesADM", FormMethod.Post, new { id = hash })) {
<div class="container-fluid">

		<div class="row">
		
		<div class="col-md-12">
		
		@{ 			
                ColumnCommand[] operadoresActuacionesADM = new ColumnCommand[2] {
				
                 new ColumnCommand {
                    display = "editar",
                    //function = "ActuacionesADMController_editar(this)",
                    function = oActuacionesADM.editar_dtActuacionesADM();
					icon = "../assets/img/icons/16x16/edit.png",
                    tooltip = "Editar este registro"   
                 },
                 new ColumnCommand {
                    display = "eliminar",
                    //function = "ActuacionesADMController_eliminar(this)",
                    function = oActuacionesADM.eliminar_dtActuacionesADM();
					icon = "../assets/img/icons/16x16/delete.png",
                    tooltip = "Eliminar este registro"   
                 },
                };
				
                var vmActuacionesADM = Html.DataTableVm("dtActuacionesADM", (ActuacionesADMController h) => h.getActuacionesADMGrilla(null));
                
				vmActuacionesADM.operators = operadoresActuacionesADM;
                //vmActuacionesADM.fnDrawCallBack = "render_dtActuacionesADM(this);";
                vmActuacionesADM.ColumnFilter = true;
                //vmActuacionesADM.FilterOn("activo").Select("Si", "No");
                //Cantidad de registros a mostrar
                vmActuacionesADM.CantidadRegistrosDefault = 25;
                  
            }
            @Html.Partial("DataTable", vmActuacionesADM)
			
			
			<script type="text/javascript">
					function ActuacionesADMController_editar(el) {
					var id = getData(el, 1);
					oActuacionesADM.editar_dtActuacionesADM(id);
					}
					
					function ActuacionesADMController_eliminar(el) {
					var id = getData(el, 1);
					oActuacionesADM.eliminar_dtActuacionesADM(id);
					}
					
			</script>
			
			
			<input type="hidden" id="SelectedActuacionesADM@(hash)" value="" />
					



	</div><!--fin de div md-12-->
</div> <!--fin de row -->




</div> <!--fin de container-fluid-->
}

	<script type="text/javascript">       
		$(function () {
			app.Desbloquear();
		});
		
		if (oActuacionesADM == null)
			var oActuacionesADM = new ActuacionesADM.ts.ActuacionesADMManager();
		
		var viewIndex = new ActuacionesADM.ts.Index("@(hash)");
		oActuacionesADM.setIndex(viewIndex); 
		
		viewIndex.setActuacionesADM(dtActuacionesADM);
		
	</script>	
