@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Controllers;	
@using Syncrosoft.Framework.Controles.MVC;
@using SSO.SGP.Web.Areas.Suministros.Controllers;
@model SSO.SGP.EntidadesDeNegocio.ArticulosDeSuministros

@{
	Layout = null;
	var hash = "form"+Session.GetHashCode();
}

	
@Scripts.Render("~/bundles/jqueryval")
<script src="Areas/Suministros/ts/ArticulosDeSuministros/Index.js"></script>
<script src="Areas/Suministros/ts/ArticulosDeSuministros/ArticulosDeSuministrosManager.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
@using (Html.BeginForm("Index", "ArticulosDeSuministros", FormMethod.Post, new { id = hash })) {
<div class="container-fluid">

		<div class="row">
		
		<div class="col-md-12">
		
		@{ 			
                ColumnCommand[] operadoresArticulosDeSuministros = new ColumnCommand[2] {
				
                 new ColumnCommand {
                    display = "editar",
                    //function = "ArticulosDeSuministrosController_editar(this)",
                    function = "oArticulosDeSuministros.editar_dtArticulosDeSuministros(this)",
					icon = "../assets/img/icons/16x16/edit.png",
                    tooltip = "Editar este registro"   
                 },
                 new ColumnCommand {
                    display = "eliminar",
                    //function = "ArticulosDeSuministrosController_eliminar(this)",
                    function = "oArticulosDeSuministros.eliminar_dtArticulosDeSuministros(this)",
					icon = "../assets/img/icons/16x16/delete.png",
                    tooltip = "Eliminar este registro"   
                 },
                };
				
                var vmArticulosDeSuministros = Html.DataTableVm("dtArticulosDeSuministros", (ArticulosDeSuministrosController h) => h.getArticulosDeSuministrosGrilla(null));
                
				vmArticulosDeSuministros.operators = operadoresArticulosDeSuministros;
                //vmArticulosDeSuministros.fnDrawCallBack = "render_dtArticulosDeSuministros(this);";
                vmArticulosDeSuministros.ColumnFilter = true;
                //vmArticulosDeSuministros.FilterOn("activo").Select("Si", "No");
                //Cantidad de registros a mostrar
                vmArticulosDeSuministros.CantidadRegistrosDefault = 25;
                  
            }
            @Html.Partial("~/Views/Shared/DataTable.cshtml", vmArticulosDeSuministros)
			
			
			<script type="text/javascript">
					function ArticulosDeSuministrosController_editar(el) {
					var id = getData(el, 1);
					oArticulosDeSuministros.editar_dtArticulosDeSuministros(id);
					}
					
					function ArticulosDeSuministrosController_eliminar(el) {
					var id = getData(el, 1);
					oArticulosDeSuministros.eliminar_dtArticulosDeSuministros(id);
					}
					
			</script>
			
			
			<input type="hidden" id="SelectedArticulosDeSuministros@(hash)" value="" />
					



	</div><!--fin de div md-12-->
</div> <!--fin de row -->




</div> <!--fin de container-fluid-->
}

	<script type="text/javascript">       
		$(function () {
			app.Desbloquear();
		});
		
		if (oArticulosDeSuministros == null)
			var oArticulosDeSuministros = new ArticulosDeSuministros.ts.ArticulosDeSuministrosManager();
		
		var viewIndex = new ArticulosDeSuministros.ts.Index("@(hash)");
		oArticulosDeSuministros.setIndex(viewIndex); 
		
		viewIndex.setArticulosDeSuministros(dtArticulosDeSuministros);
		
	</script>	
