@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Areas.RRHH.Controllers;

@{
    Layout = null;
}

<!-- SCRIPTS & CSS -->
<script src="Areas/RRHH/ts/ConcursosDeIngreso/Crear.js"></script>
<script src="Areas/RRHH/ts/ConcursosDeIngreso/Index.js"></script>
<script src="Areas/RRHH/ts/ConcursosDeIngreso/ConcursosDeIngresoManager.js"></script>
<script src="Areas/RRHH/ts/ConcursosDeIngresoInscripciones/ConcursosDeIngresoInscripcionesManager.js"></script>
<script src="Areas/RRHH/ts/ConcursosDeIngresoInscripciones/Crear.js"></script>
<script src="Areas/RRHH/ts/ConcursosDeIngresoInscripciones/Index.js"></script>
<script src="Areas/RRHH/ts/ConcursosDeIngreso/EnviarNotificaciones.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
<style>
    #tabs li .ui-icon-close {
        float: left;
        margin: 0.4em 0.2em;
        cursor: pointer;
    }
</style>
<div class="container-fluid">
    <div id="tabs" class="tabbable tabbable-custom ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="nav nav-tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="ul"></ul>
    </div>
</div>

<script type="text/javascript">
    var oConcursosDeIngreso = new ConcursosDeIngreso.ts.ConcursosDeIngresoManager();
    var oConcursosDeIngresoInscripciones = new ConcursosDeIngresoInscripciones.ts.ConcursosDeIngresoInscripcionesManager();

    $(function () {
        app.inicializarTab();
    });

</script>