@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Controllers;	
@using Syncrosoft.Framework.Controles.MVC;
@model SSO.SGP.EntidadesDeNegocio.Usuarios

@{
	Layout = null;
	var hash = "form"+Session.GetHashCode();
}

	
@Scripts.Render("~/bundles/jqueryval")
<script src="ts/Usuarios/Index.js"></script>
<script src="ts/Usuarios/UsuariosManager.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
@using (Html.BeginForm("Index", "Usuarios", FormMethod.Post, new { id = hash })) {
<div class="container-fluid">

		<div class="row">
		
		<div class="col-md-12">
		
		@{ 			
                ColumnCommand[] operadoresUsuarios = new ColumnCommand[4] {
				
                 new ColumnCommand {
                    display = "Editar",
                    function = "oUsuarios.editar_dtUsuarios();",
                    icon = "../assets/img/icons/16x16/edit.png",
                    tooltip = "Editar este registro"   
                 },
                 new ColumnCommand {
                    display = "Activar-Desactivar",
                    function = "eliminar(this)",
                    icon = "../assets/img/icons/16x16/activatedeactivate.gif",
                    tooltip = "Desactivar"   
                 },
                 new ColumnCommand {
                    display = "Gestionar Roles",
                    function = "oUsuarios.editarRoles_dtUsuarios()",
                    icon = "../assets/img/icons/16x16/role.png",
                    tooltip = "Gestionar roles"
                 },
				 new ColumnCommand {
                    display = "Resetear clave",
                    function = "oUsuarios.resetearClave_dtUsuarios()",
                    icon = "../assets/img/icons/16x16/reset.png",
                    tooltip = "Resetear clave"
                 }
                };
				
                var vmUsuarios = Html.DataTableVm("dtUsuarios", (UsuariosController h) => h.getUsuariosGrilla(null));
                
				vmUsuarios.operators = operadoresUsuarios;
                vmUsuarios.fnDrawCallBack = "render(this);";
                vmUsuarios.ColumnFilter = true;
                //vmUsuarios.FilterOn("activo").Select("Si", "No");
                //Cantidad de registros a mostrar
                vmUsuarios.CantidadRegistrosDefault = 25;
                  
            }
            @Html.Partial("DataTable", vmUsuarios)
			
			
			<script type="text/javascript">					
					
					function eliminar(el) {
					var id = getData(el, 1);
					oUsuarios.eliminar_dtUsuarios(id);
					}

					function EditarRoles(el) {
					    var id = getData(el, 1);
					    oUsuarios.editarRoles_dtUsuarios(id);
					}
					
			</script>
			
			
			<input type="hidden" id="SelectedUsuarios@(hash)" value="" />
					



	</div><!--fin de div md-12-->
</div> <!--fin de row -->

@*    <!-- /.modal -->
<div class="modal fade" id="modalUsuarios@(hash)" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-wide">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Título</h4>
			</div>
			<div class="modal-body">
			</div>
		</div>
	<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->*@


</div> <!--fin de container-fluid-->
}

	<script type="text/javascript">       
		$(function () {
			app.Desbloquear();
		});
		
		if (oUsuarios == null)
			var oUsuarios = new Usuarios.ts.UsuariosManager();
		
		var viewIndex = new Usuarios.ts.Index("@(hash)");
		oUsuarios.setIndex(viewIndex); 
		
		viewIndex.setUsuarios(dtUsuarios);

		function render(el) {
		    $("#dtUsuarios tbody tr td:nth-child(6)").each(function () {
		        if ($(this).text() == "No") {
		            //$(this).css("background", "red"); 
		            $(this).closest("tr").find("td").css("color", "red");
		            $(this).closest("tr").find("td").css("background", "#F7E4EB");

		            // tooltip para desactivar
		            $(this).closest("tr").find("td:nth-child(8)").find("img").eq(1).attr("title", "Activar");
		        }
		    });
		}
		
	</script>	
